/* Adminlogin.css */

.admin-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    margin-top: 200px;
  }
  
  .admin-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
  }
  
  .admin-dashboard {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  
.login-btn {
    background-color: #404244;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    
  }
  
  .login-btn:hover {
    background-color: #333434;
  }